:root {
    /* Cores Principais */
    --primary: #0b2b20;
    --secondary: #00b4d8;

    /* Backgrounds | Cores Secundárias */
    --l-surface: #f8fafc;
    --l-surface-2: #e2e8f0;
    --l-surface-3 : #94a3b8;
    --green-surface: #2a463d;
    --green-surface-2: #09403c;
    --blue-surface: #09403c;

    /* Cores Gerais */

    --white: #FFFFFF;
    --black: #000000;
    --red: #ef4444;
    --yellow: #ffd700;
    --red-soft: #fee2e2;
    --orange: #f97316;
    --orange-soft: #ffedd5;
    --green: #10b981;
    --green-soft: #d1fae5;
    --blue: #0284c7;
    --blue-soft: #e0f2fe;

    /* Textos */
    --l-text : #000000;
    --d-text : #FFFFFF;
    --l-text-2: #0f172a;
    --green-text: #0b2b20;

    /* Cores de Estado */
    --success: #2563eb;
    --error: #2563eb;
    --warning: #2563eb;

    /* Tipografia */
    --font-main: 'Inter', system-ui, -apple-system, sans-serif;
    
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra: 900;

    /* Tamanhos de Fonte */
    --text-sm: 0.85rem;
    --text-md: 1.5rem;
    --text-lg: 1.85rem;
    --text-xl: 2.2rem;

    /* Espaçamento */
    --space-1: 0.25rem;
    /*4px*/
    --space-2: 0.5rem;
    /*8px*/
    --space-3: 0.75rem;
    /*12px*/
    --space-4: 1rem;
    /*16px*/
    --space-6: 1.5rem;
    /*24px*/
    --space-8: 2rem;
    /*32px*/

    --s-1: 4px;
    --s-2: 8px;
    --s-3: 12px;
    --s-4: 16px;
    --s-5: 24px;
    --s-6: 32px;
    --s-7: 64px;
    --s-8: 84px;

    /* Arredondamento de Bordas*/

    --radius-sm: 7.5%;
    --radius-md: 10px;
    --radius-lg: 15%;
    --radius-full: 9999px;

    /* Transições */

    --transition-fast: 150ms ease-in-out;
    --transition-base: 300ms ease;
}

header,
footer {
    width: fit-content;
    height: fit-content;
}

body {
    background : var(--l-surface);
    font-family: var(--font-main);
    text-rendering: optimizeLegibility;
    line-height: 24px;
    font-size: var(--text-avg);
    color : var(--l-text);
}

    body * {
        box-sizing: border-box;
    }

main {
    display: block;
    height:  auto;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
