<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block Titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="/frontend/static/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="/frontend/script/site.js"></script>
    {% block Head %}{% endblock %}
</head>

<body>
    <header>
        {% block Header %}{% endblock %}
    </header>
    <main>
        {% block Conteudo %}{% endblock %}
    </main>

    {% block Footer %}
    <footer>
        <div class="footer-options-div">
            <a id="footer-mapa" class="footer-option" href="/mapa">
                <i data-lucide="map-pin"></i>
                <span>Mapa</span>
            </a>
            <a id="footer-recarga" class="footer-option" href="/recarga">
                <i data-lucide="zap"></i>
                <span>Recarga</span>
            </a>
            <a id="footer-historicos" class="footer-option" href="/historicos">
                <i data-lucide="history"></i>
                <span>Histórico</span>
            </a>
            <a id="footer-perfil" class="footer-option" href="/perfil">
                <i data-lucide="user"></i>
                <span>Perfil</span>
            </a>
        </div>
    </footer>
    {% endblock %}

    <script>
        lucide.createIcons();
    </script>
    {% block Scripts %}{% endblock %}
</body>
</html>