{% extends "base.html" %}

{% block Titulo %} {% endblock %}

{% block Head %} 
    <link rel="stylesheet" href="/frontend/static/perfil.css">
{% endblock %}

{% block Conteudo %}
<div class="wrapper">
<header class="main-header">
    <h1 style="margin:0px" class="page-title">Meu Perfil</h1>
</header>

<section class="user-card">
    <div class="user-avatar-wrapper">
    <img src="https://images.unsplash.com/photo-1560250097-0b93528c311a?w=150" alt="Foto de Thiago Silva" class="user-avatar">
    </div>
    <div class="user-info">
    <h2 class="user-name">Thiago Silva</h2>
    <p class="user-email">thiago.silva@eletromail.com</p>
    </div>
    <button class="btn-icon" aria-label="Editar Perfil">
        <i data-lucide="pencil" style="width: 18px; height : 18px; stroke : var(--primary)"></i>
    </button>
</section>

<!-- Secção: Meus Veículos -->
<section class="card-section">
    <div class="card-header">
    <h2>Meus Veículos</h2>
    <button class="btn-icon-simple" aria-label="Editar Veículos">
        <i data-lucide="pencil" style="width: 18px; height : 18px; stroke : var(--l-text-2)"></i>
    </button>
    </div>
    <div class="vehicle-item">
        <i data-lucide="truck" style="width: 28px; height : 28px; stroke : var(--primary); margin-right:  var(--s-4)"></i>
        <div class="vehicle-details">
            <h3 class="vehicle-name">BYD Dolphin GS</h3>
            <p class="vehicle-sub">60 kWh • CCS2 e Type 2</p>
        </div>
    </div>
</section>

<!-- Secção: Métodos de Pagamento -->
<section class="card-section">
    <div class="card-header">
    <h2>Métodos de Pagamento</h2>
    <button class="btn-icon-simple" aria-label="Editar Métodos de Pagamento">
        <i data-lucide="pencil" style="width: 18px; height : 18px; stroke : var(--l-text-2)"></i>
    </button>
    </div>
    <div class="payment-list">
    <div class="payment-item">
        <i class="payment-icon" data-lucide="credit-card-check" style="width: 20px; height: 20px; stroke : currentColor"></i>
        <span>Visa final 4252 (Principal)</span>
    </div>
    <div class="payment-item">
        <i class="payment-icon" data-lucide="circle-x" style="width: 20px; height: 20px; stroke : var(--secondary)"></i>
        <span>Chave PIX Salva</span>
    </div>
    </div>
</section>

<!-- Secção: Configurações -->
<section class="card-section">
    <div class="card-header">
    <h2>Configurações</h2>
    </div>
    <div class="settings-list">
    <div class="setting-item">
        <span>Notificações Push</span>
        <label class="toggle-switch">
        <input type="checkbox" checked>
        <span class="slider"></span>
        </label>
    </div>
    <div class="setting-item">
        <span>Modo de recarga preferido</span>
        <span class="setting-value"><b>Econômico</b></span>
    </div>
    <div class="setting-item">
        <span>Idioma</span>
        <span class="setting-value">Português (BR)</span>
    </div>
    </div>
</section>

</div>
{% endblock %}

{% block Scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const footerOptions = document.querySelectorAll(".footer-option");
        const currentFooterOption = document.getElementById("footer-perfil");
        currentFooterOption.classList.add("active");
    });
</script>
{% endblock %}